<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
    <nav class="header__nav">
        <ul>
            <li class="header__nav-li">
                <a href="/" class="header__nav-li-a">Home</a>
            </li>
            <li class="header__nav-li">
                <a href="/about" class="header__nav-li-a">About</a>
            </li>
            <li class="header__nav-li">
                <a href="/contact" class="header__nav-li-a">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="header__button">
        <a href="/logout">Logout</a>
    </div>
</header>

<div class="index__title">
    <h1 class="index__title_title">My Studies</h1>
    <p class="autor__body"></p>
</div>